<manifest package="com.wealthfront.magellan"
    xmlns:android="http://schemas.android.com/apk/res/android">

  <application>
    <activity
        android:name="com.wealthfront.magellan.AttachingActivity"
        android:exported="false"
        android:label="attaching"
        />
  </application>

</manifest>
